/** {
    box-sizing: border-box
}
.fcolor{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:brown;
}
*/
/*img {
    opacity: 0.5;
    width: 900px;
    height: 300Px;
    vertical-align: middle;
}*/

/** {
    box-sizing: border-box
}

.mySlides {
    display: none
}

img {
    
    vertical-align: middle;
    opacity:1;
    height:400px
}*/


body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bagpic-1{
    opacity:0.7;
}

.bgimg-2 {
    min-height: 400px;
}

.bgimg-3 {
    background-image: url("img_parallax3.jpg");
    min-height: 400px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
}

    .caption span {
        background-color: none;
        color: black;
        padding: 18px;
        font-size: 50px;
        letter-spacing: 10px;
        font-family:'Anton', sans-serif;
        
        
    }

.ConverFont {
    background-color: #111;
    color: #fff;
    position: 20%, 20%;
    font-family: 'Anton', sans-serif;
   /* color: black;*/
    padding: 1px;
    font-size: 50px;
    letter-spacing: 10px;
}

h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

.time {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
    color:darkred
}

h2{
    color:gold
}